<div class="row mb-5">
  <div id="page-breadcrumbs" class="col-12 col-lg-6 text-lg-start">
    <%= render_breadcrumbs builder: BreadcrumbBuilder %>
  </div>
  <%= render 'layouts/user_links' %>
</div>
