<div class="row mb-5">
  <div class="col-12 col-lg-6 text-center text-lg-start">
    <h1><%= content_for :page_title %></h1>
  </div>

  <div class="col-12 col-lg-6 d-flex text-center text-lg-end align-items-center">
    <div class="w-100">
      <%= content_for :page_cta %>
    </div>
  </div>
</div>
